.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: 100%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
}

.column-two-third {
  flex-basis: 66.666%;
}
