.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  justify-content: flex-start;
}

.container.modalLight {
  background-color: #fff;
}

.modal-content {
  background-color: white;
}

.hidden {
  display: none !important;
}

.modal-dialog {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background: linear-gradient(transparent -2000px, #030303);
}

.modal {
  background-color: #4b4ae9;
  color: #fefefe;
  padding: 5px 10px;
  height: 40px;
  width: 140px;
  border-radius: 5px;
  font-size: 18px;
  font-family: Arimo, sans-serif;
}

.survey {
  /* display: none; */
  color: #000;
  font-family: Arimo, sans-serif;
  font-size: 22px;
  padding: 10px;
  text-align: center;
  position: absolute;
  right: 250px;
  left: 330px;
  bottom: 420px;
  z-index: 3;
}

.no {
  /* display: none; */
  position: absolute;
  right: 650px;
  top: 410px;
  color: #fefefe;
  background-color: #eb5d5d;
  padding: 5px 10px;
  height: 40px;
  width: 90px;
  border-radius: 5px;
  font-size: 18px;
  font-family: Arimo, sans-serif;
  z-index: 2;
}
