.container {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;

  /* color: #fff; */
}

h1 {
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
}

.button {
  border: solid;
  border-color: #d6605a;
  color: #d6605a;
  background-color: #fff;
  justify-content: center;
  text-align: center;
  line-height: 2.5;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.column-one-half {
  display: flex;
  flex-basis: calc(100% / 2);

  /* text-align: center; */
  flex-direction: column;
}

.column-one-fourth {
  display: flex;
  flex-basis: calc(100% / 4);
  padding: 0 2em;

  /* text-align: center; */
}

.column-full {
  flex-basis: 100%;
  text-align: center;
}
